<div class="summary-leaderboard-container">
  <h1 class="leaderboard-header">How do you compare?</h1>
  <div class="content-container">
    {{mastery-leaderboard limit=3}}
  </div>
</div>
<div class="search-container">
  <div class="input-group input-group-lg">
    {{input value=name placeholder="xX3niperProXx" class="form-control"}}
    <div class="input-group-btn">
      <button
        type="button" 
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="border-radius: 0px;">
        {{region}} <span class="caret"></span>
      </button> 
      <ul class="dropdown-menu dropdown-menu-right">
        <li {{action 'setRegion' 'NA'}}><a href="#">NA</a></li>
        <li {{action 'setRegion' 'OCE'}}><a href="#">OCE</a></li>
        <li {{action 'setRegion' 'EUW'}}><a href="#">EUW</a></li>
        <li {{action 'setRegion' 'EUNE'}}><a href="#">EUNE</a></li>
      </ul>
      {{#link-to 'search' (query-params name=name region=region) tagName='button' classNames='btn btn-default'}}
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      {{/link-to}}
    </div>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
