<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span style="color: #000000">Master</span><span style="color: #3E9C4A">yi</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li>{{#link-to 'leaderboard'}}Leaderboard{{/link-to}}</li>
        <li>{{#link-to 'faq'}}F.A.Q{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            {{input value=name placeholder="Summoner Name" class="form-control"}}
            <div class="dropdown" style="display: inline-block">
              <button
                type="button" 
                class="form-control"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                {{region}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li {{action 'setRegion' 'NA'}}><a href="#">NA</a></li>
                <li {{action 'setRegion' 'OCE'}}><a href="#">OCE</a></li>
                <li {{action 'setRegion' 'EUW'}}><a href="#">EUW</a></li>
                <li {{action 'setRegion' 'EUNE'}}><a href="#">EUNE</a></li>
              </ul>
            </div>
          </div>
          {{#link-to 'search' (query-params name=name region=region) tagName='button' classNames='btn btn-default'}}
            Search
          {{/link-to}}
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{outlet}}

<footer>
  <div class="legal-text">
    Masteryi isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
  </div>
</footer>
