<table class="table table-striped">
  <thead>
    <tr class="table-header">
      <th {{action 'orderBy' 'championName'}}>
        Champion
        {{order-display target='championName' current=sortedByProperty type=sortedBy}}
      </th>
      <th {{action 'orderBy' 'points'}}>
        Mastery Points
        {{order-display target='points' current=sortedByProperty type=sortedBy}}
      </th>
      <th {{action 'orderBy' 'name'}}>
        Name
        {{order-display target='name' current=sortedByProperty type=sortedBy}}
      </th>
      <th {{action 'orderBy' 'region'}}>
        Region
        {{order-display target='region' current=sortedByProperty type=sortedBy}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each championsSorted as |champion|}}
    <tr>
      <td>
        {{champion-image championId=champion.champion_id size='small'}}
        {{champion.championName}}
      </td>
      <td>{{format-number number=champion.points}}</td>
      <td>{{champion.name}}</td>
      <td>{{champion.region}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
